# Ambiente
.env

# Python
__pycache__/
*.py[cod]
*.pyo

# Django
*.log
db.sqlite3
media/

# Ambiente virtual
venv/
.venv/

# Node
node_modules/

# Angular
.angular/
dist/

# IDE
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db